/* ==========================================================================
   actions.css
   ========================================================================== */

.actions {
    display: flex;
}
.actions .ant-btn {
    margin-right: 1rem;
}
.actions + .ant-table {
    margin-top: 1rem;
}
