/* ==========================================================================
   calculator.css
   ========================================================================== */

.calculator {
    margin: 2rem;
}
.ant-menu + .calculator {
    padding-top: 1.5rem;
}
.calculator .ant-form {
    padding-right: 1rem;
}
.calculator .ant-form-item {
    margin-bottom: 0;
}
.calculator .ant-input-number {
    width: 100%;
}
.calculator table td,
.calculator table th {
    text-align: right;
}
.calculator table td:first-child,
.calculator table th:first-child {
    text-align: left;
}
.calculator .ant-form-item-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
