/* ==========================================================================
   channelsform.css
   ========================================================================== */

.channelsform .save {
    text-align: right;
}

.channelsform .save .ant-btn-primary {
    margin-left: 1rem;
}
