/* ==========================================================================
   content.css
   ========================================================================== */

.ant-layout {
    min-height: 100vh;
}

.ant-layout .ant-layout-content {
    background-color: #fff;
    /*padding: 1rem;*/
}
