/* ==========================================================================
   documentation-upload.css
   ========================================================================== */

.documentation-upload {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.3);
    color: #000;
    border-radius: 4px;
    margin: 1rem auto 3.5rem;
    padding-bottom: 1rem;
}

.documentation-upload .documentation-upload__title {
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3f3f3f;
    margin: 2.5rem 2rem 0.5rem;
    text-align: left;
}

.documentation-upload__item {
    margin: 0 2rem 1rem;
    padding: 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
    position: relative;
}

.documentation-upload__item.uploaded {
    border: 2px solid #8abd61;
}

.documentation-upload__item.uploaded:after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/img/icon-check.svg') no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top: 5px;
    right: 7px;
}

.documentation-upload__checkbox,
.documentation-upload__button,
.documentation-upload__image {
    align-self: center;
}

.documentation-upload__checkbox {
    margin-right: 1rem;
}

.documentation-upload__image {
    margin-left: auto;
}

.documentation-upload__button a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #1890ff;
    color: #fff;
    border-radius: 4px;
    opacity: 0.9;
}
.documentation-upload__button a:hover {
    opacity: 1;
}
