/* ==========================================================================
   dropdown.css
   ========================================================================== */

.dropdown {
    border-radius: 0.25rem;
    overflow: visible;
    position: relative;
}
