/* ==========================================================================
   forms.css
   ========================================================================== */

.ant-form-item-control,
.ant-form-item-label {
    line-height: 40px;
}

.table .row .td,
.table .row .th {
    padding: 0.2rem 0.5rem;
}

.channelsform .save {
    text-align: right;
}

.channelsform .save .ant-btn-primary {
    margin-left: 1rem;
}

.radio-button {
    margin-right: 1.5rem;
}

.radio-button input:hover,
.radio-button label:hover {
    cursor: pointer;
}

.radio-button:last-child {
    margin-right: 0;
}

.radio-button label {
    padding-left: 0.5rem;
}
