/* ==========================================================================
   general.css
   ========================================================================== */

html {
    font-size: 16px;
}

body {
    font-family: 'Nunito', Arial, sans-serif;
}

/**, *::before, *::after { .boxSizing(); }*/

#root {
    height: 100%;
}

.wrapper {
    margin: auto;
    position: relative;
}

.imgresponsive {
    height: auto;
    resize: both;
    width: 100%;
}

.imgresponsiveheight {
    height: 100%;
    resize: both;
    width: auto;
}
