/* ==========================================================================
   grid.css
   ========================================================================== */

.grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #f7f7f7;
    margin: 0rem 0 1rem 0;
}

.grid-header h2 {
    margin: 0;
    color: #000c17;
}

.table.table-stripped .row:nth-of-type(odd) {
    background-color: #f7f7f7;
}
