/* ==========================================================================
   header.css
   ========================================================================== */

.ant-layout-header {
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ant-layout-header .user {
    text-align: right;
}

.ant-layout-header .user strong {
    margin-right: 0.5rem;
}

.ant-layout-header .user .ant-btn {
    border: none;
    color: #fff;
    padding-right: 1.5rem;
    position: relative;
}

.ant-layout-header .user .ant-btn .anticon {
    position: absolute;
    top: 0.75rem;
    right: 0;
}

.ant-layout-header .user .ant-btn .anticon + span {
    margin-left: 0;
}

.ant-layout-header .user .ant-btn .anticon:hover {
    color: #fff;
}
