/* ==========================================================================
   insurance-results.css
   ========================================================================== */

.insurance-results .lead .ant-card-head {
    background-color: #999999;
    min-height: initial;
    text-transform: uppercase;
}

.insurance-results .lead.selected .ant-card-head {
    background-color: #016eea;
}

.insurance-results > div {
    cursor: pointer;
}

/* Insurance loading */
.insurance-spinner {
    margin-bottom: 10px;
}

.insurance-loading-highlight {
    color: #1790ff;
    margin-bottom: 10px;
}

.insurance-loading p {
    font-size: 1.25rem;
    color: #3f3f3f;
    margin: 0;
}

.insurance-known-info {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 0rem 0.7rem;
    margin: 1rem auto 2.5rem;
}

.insurance-known-info ul {
    text-align: left;
    display: flex;
    width: 100%;
    margin-bottom: 0;
}

.insurance-known-info li {
    padding-bottom: 6px;
    padding-top: 6px;
}

.insurance-known-info li:first-child {
    width: 25%;
    padding-right: 1.5rem;
}

.insurance-known-info li:last-child {
    width: 75%;
}

.insurance-results__title,
.insurance-details__title {
    color: #1790ff;
    font-size: 1.1875rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.8rem;
}

.insurance-details {
    margin-bottom: 6rem;
}

.insurance-details__title {
    margin-top: 3rem;
}

.insurance-results-grid {
    width: 100%;
    text-transform: uppercase;
}

.insurance-results-grid td {
    text-align: center;
    width: 25%;
    border-right: 1px solid #fff;
}

.insurance-results-grid tr > td:first-child {
    text-align: left;
}

.insurance-results-grid tr > td:first-child .cell {
    padding-left: 1rem;
}

.insurance-results-grid .cell {
    padding: 0.8rem 0.5rem;
    color: #000000;
}

.insurance-results-grid .even-header {
    background-color: #f8f8f8;
}

.insurance-results-grid .odd-header {
    background-color: #eeeeee;
}

.insurance-results-grid .data {
    background-color: #dddddd;
    color: #222222;
}

.insurance-results-grid:hover {
    background-color: #f8f8f8;
}

.insurance-results-grid .full {
    cursor: pointer;
}

.insurance-results-grid .data.selected {
    background-color: #1790ff;
    color: #fff;
}

.insurance-details__left {
    width: 18%;
    float: left;
    margin-right: 2%;
}

.insurance-details__middle {
    width: 53%;
    float: left;
    margin-right: 2%;
}

.insurance-details__right {
    width: 25%;
    float: left;
}

.insurance-details__image {
    border: 1px solid #f0f0f0;
    padding: 1rem;
    margin-bottom: 0.6rem;
}

.insurance-details__image img {
    width: 100%;
}

.insurance-company__ID p {
    margin: 0;
    line-height: normal;
}

.insurance-details__middle p,
.insurance-details__right p {
    margin: 0;
}
