/* ==========================================================================
   lead.css
   ========================================================================== */

.lead .ant-card-head {
    background-color: #1790ff;
    min-height: initial;
    text-transform: uppercase;
}

.lead .ant-card-head-title {
    color: white;
    font-size: 14px;
}

.lead .ant-card-body {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
}

@media screen and (min-width: 1480px) {
    .lead .ant-card-body {
        font-size: 14px;
    }
}

.lead-wrapper .ant-card-body {
    display: flex;
    flex-wrap: wrap;
}

.lead-wrapper {
    margin: 1rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
}
