/* ==========================================================================
   loan-footer.css
   ========================================================================== */

.loan-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
    margin: 0 -2rem 4rem;
}

.loan-footer .loan-footer__buttons {
    display: flex;
    align-items: center;
}
