/* ==========================================================================
   loan-section.css
   ========================================================================== */

.cuadro-de-marcha-top {
    display: flex;
    justify-content: space-between;
}

.currency-switcher {
    text-align: right;
}

.currency-switcher p {
    display: inline-block;
    font-weight: bold;
    padding-right: 0.9375rem;
}
