/* ==========================================================================
   loan-header.css
   ========================================================================== */

.loan-header {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    align-items: center;
    margin: 0 0 1rem 0;
}

.loan-header .loan-header__client {
    display: flex;
}

.loan-header .loan-header__title {
    font-size: 1.25rem;
    color: #3f3f3f;
    margin-bottom: 0;
}

.loan-header .loan-header__client-data {
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
    margin: 0;
}

.loan-header .loan-header__buttons {
    display: flex;
    align-items: center;
}

.loan-header__buttons .ant-btn {
    padding: 8px 18px;
    height: auto;
}
