/* ==========================================================================
   login.css
   ========================================================================== */

.login-wrapper {
    align-items: center;
    background-color: #00142a;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.login-wrapper h2 {
    color: white;
    font-weight: 100;
}

.login-form {
    background-color: #eee;
    border-radius: 0.3125rem;
    border: solid 1px transparent;
    max-width: 18.75rem;
    padding: 0.625rem;
}

.login-form .ant-form {
    padding: 0.625rem;
}

.login-form .anticon {
    color: rgba(0, 0, 0, 0.25);
}

.login-form .ant-btn {
    width: 100%;
}
