/* ==========================================================================
   manual-application.css
   ========================================================================== */

.manual-application {
    margin: 2rem;
}

.manual-application .ant-row.ant-form-item {
    margin-bottom: 5px;
}

.manual-application .ant-form-item-label label {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    margin-right: 5px;
}

.manual-application__breadcrumbs {
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.manual-application .ant-input-number,
.manual-application .ant-cascader-picker {
    width: 100%;
}

.manual-application .monto {
    padding: 0;
    border-radius: 4px;
}

.manual-application .monto label {
    display: block;
    font-size: 21px;
    font-weight: 500;
}

.manual-application .monto .ant-input {
    padding: 5px 15px !important;
    background-color: #f5f5f5;
    border: 0;
    font-size: 30px;
    display: inline-block;
    width: 100%;
    height: auto;
    color: #333;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 200;
}

.manual-application .monto .ant-input:focus {
    box-shadow: none;
}

@media screen and (min-width: 992px) {
    .manual-application .monto .ant-input {
        width: 49%;
    }
}

.manual-application .monto__edit {
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
    font-size: 15px;
    margin-left: 5px;
    color: #1790ff;
}
.manual-application .monto__edit:hover {
    cursor: pointer;
}

.card-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.manual-application .card-custom-width {
    width: 450px;
    margin: 0 20px 20px 0;
}

.manual-application .card-custom-width:last-child {
    margin: 0;
}
