.status {
    margin-left: 1rem;
}

.status.ant-select {
    width: auto;
}

.ant-select-arrow:before {
    color: #fff;
}

.status .ant-select-selection {
    color: #fff;
}

.status__evaluacion-crediticia .ant-select-selection {
    background-color: #1790ff;
    border-color: #1790ff;
}

.status__rechazado .ant-select-selection {
    background-color: #f50303;
    border-color: #f50303;
}

.status__verificar .ant-select-selection {
    background-color: #ff6e00;
    border-color: #ff6e00;
}

.status__zero .ant-select-selection {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.status__preaprobado .ant-select-selection {
    background-color: #52c41a;
    border-color: #52c41a;
}

/* RTO status */

.status {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.status.zero .ant-select-selection {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.status.zero {
    color: #4a90e2;
}

.status.one .ant-select-selection {
    background-color: var(--status-one);
    border-color: var(--status-one);
}

.status.one {
    color: var(--status-one);
}

.status.two .ant-select-selection {
    background-color: var(--status-two);
    border-color: var(--status-two);
}

.status.two {
    color: var(--status-two);
}

.status.three .ant-select-selection {
    background-color: var(--status-three);
    border-color: var(--status-three);
}

.status.three {
    color: var(--status-three);
}

.status.four .ant-select-selection {
    background-color: var(--status-four);
    border-color: var(--status-four);
}

.status.four {
    color: var(--status-four);
}

/*STATUS FIVE*/
.status.five .ant-select-selection {
    background-color: var(--status-five);
    border-color: var(--status-five);
}

.status.five {
    color: var(--status-five);
}

/*STATUS SIX*/
.status.six .ant-select-selection {
    background-color: var(--status-six);
    border-color: var(--status-six);
}
.status.six {
    color: var(--status-six);
}

.status.seven .ant-select-selection {
    background-color: #d35019;
    border-color: #d35019;
}

.status.seven {
    color: #d35019;
}

.status.eight .ant-select-selection {
    background-color: #25d399;
    border-color: #25d399;
}

.status.eight {
    color: #25d399;
}

.status.nine .ant-select-selection {
    background-color: #d35019;
    border-color: #d35019;
}

.status.nine {
    color: #d34754;
}

.status.duplicado {
    color: #9b9b9b;
}
