.table {
    border-radius: 0.25rem;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.875rem;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    text-align: left;
    width: auto;
    margin: 1rem 2rem 2rem;
}
.table .row {
    display: flex;
    flex-direction: row;
}
.table .row .td,
.table .row .th {
    border-bottom: solid 1px #e8e8e8;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: left;
    padding: 0.2rem 0.5rem;
}
.table .row.new {
    background-color: #e8f0f7;
}
.table .row .th {
    align-items: center;
    background-color: #333;
    color: #fff;

    cursor: pointer;
    flex-flow: row wrap;
    font-weight: 500;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.table .row .th.number {
    justify-content: flex-end;
    text-align: right;
}
.table .row .th .anticon {
    margin-left: 0.5rem;
}
.table .row .tsearch {
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.table .row .tsearch .ant-input {
    border: none;
}
.table .row .td {
    font-weight: 400;
    min-width: 0;
}
.table .row .td.number {
    justify-content: flex-end;
    text-align: right;
}
.table .row .td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.table .anticon {
    color: #0d47a1;
    font-size: 1rem;
}
.table .thead {
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.24);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}
.table .tbody {
    min-height: 70vh;
}
.table .tbody.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.table .tbody .row:hover {
    background-color: #e6f7ff;
}
.table .tfoot {
    background-color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.table .tfoot em {
    display: inline-block;
    font-style: normal;
    line-height: 2rem;
    margin-right: 1rem;
}
.table .tfoot .td {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: block;
    font-weight: 500;
    padding: 0.5;
}
.table .tfoot .td.number {
    text-align: right;
}
.table .tfoot .td .ant-btn-secondary {
    width: 2rem;
}
.table .card-link,
.table .link {
    color: #0d47a1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table th {
    font-weight: 700;
    color: #000;
}
.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-responsive table {
    width: 100%;
}
.table td,
.table th {
    padding: 0.5rem;
}
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
    padding: 0.5rem 1rem;
}
