/* ==========================================================================
   editable-card.css
   ========================================================================== */

.editable-card {
    margin-bottom: 1rem;
}

.editable-card td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 0.5rem;
}
.editable-card:last-child {
    margin-bottom: 0;
}

.editable-card .ant-card-head {
    background-color: #1790ff;
    color: white;
    min-height: initial;
}

.editable-card.dealers .ant-card-head {
    background-color: #45712f;
}

.editable-card.online .ant-card-head {
    background-color: #6b1545;
}

.editable-card.secondary .ant-card-head {
    background-color: #3f1768;
}

.ant-card-head-title {
    padding: 0;
    height: 45px;
    line-height: 45px;
}

.ant-card-head-title > div {
    align-items: center;
    color: white;
}
