.table .row .tsearch > span {
    display: flex;
    position: relative;
    align-items: center;
    margin: 2px;
    padding: 0 3px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.table .row .tsearch > span select {
    position: relative;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    height: 20px;
    background: transparent;
    border: 0;
}

.table .row .tsearch .ant-input {
    border: none;
    background: transparent;
}

.ant-input-search:not(.ant-input-search-small) > .ant-input-suffix {
    right: 5px;
}

.ant-input-search:not(.ant-input-search-small) > span.ant-input-suffix {
    display: none;
}

.table .row .tsearch .ant-calendar-range-picker-separator {
    display: none;
}
