//Drop Down: Start
.dropdown {
	border-radius: .25rem;
	overflow: visible;
	position: relative;

	//Drop Inside: Start
	.dropinside {
		.bShadowDouble();
		.transition(@name: opacity);
		background-color: @white;
		max-height: 60vh;
		max-width: 62.5rem;
		min-width: 12.875rem;
		opacity: 0;
		overflow-x: hidden;
		overflow-y: auto;
		pointer-events: none;
		position: absolute;
			top: 2.25rem;
			left: auto;
			right: 0;
		z-index: -1;


		//Form: Start
		//Inside: Start
		.ant-form-item { border-top: solid 1px @brTitleAnt; margin-bottom: 0; }

		.ant-input { border: none; }

		.search .ant-form-item-children { padding-left: 0; padding-right: 0; }

		.ant-form-item-children { display: flex; padding-left: .6875rem; padding-right: .6875rem; }

		.ant-checkbox-wrapper { align-items: center; display: flex; }
		//Inside: End
		//Form: End
	}
	//Drop Inside: End
}

//States: Start
.dropdown .dropinside.active { opacity: 1; pointer-events: all; z-index: 4; }
//States: End
//Drop Down: End