//Font-Face: Start
/*@font-face {
	font-family: Monserrat;
	font-style: normal;
	font-weight: 700;
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url('@{urlFonts}montserrat-bold.woff2') format('woff2'), url('@{urlFonts}montserrat-bold.woff') format('woff'), url('@{urlFonts}montserrat-bold.ttf') format('truetype'), url('@{urlFonts}montserrat-bold.svg#Monserrat') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Monserrat;
	font-style: normal;
	font-weight: 300;
	src: local('Montserrat Light'), local('Montserrat-Light'), url('@{urlFonts}montserrat-light.woff2') format('woff2'), url('@{urlFonts}montserrat-light.woff') format('woff'), url('@{urlFonts}montserrat-light.ttf') format('truetype'), url('@{urlFonts}montserrat-light.svg#Monserrat') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Monserrat;
	font-style: normal;
	font-weight: 500;
	src: local('Monserrat Medium'), local('Montserrat-Medium'), url('@{urlFonts}montserrat-medium.woff2') format('woff2'), url('@{urlFonts}montserrat-medium.woff') format('woff'), url('@{urlFonts}montserrat-medium.ttf') format('truetype'), url('@{urlFonts}montserrat-medium.svg#Monserrat') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Monserrat;
	font-style: normal;
	font-weight: 400;
	src: local('Monserrat Regular'), local('Montserrat-Regular'), url('@{urlFonts}montserrat-regular.woff2') format('woff2'), url('@{urlFonts}montserrat-regular.woff') format('woff'), url('@{urlFonts}montserrat-regular.ttf') format('truetype'), url('@{urlFonts}montserrat-regular.svg#Monserrat') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 900;
	src: local('Nunito Black'), local('Nunito-Black'), url('@{urlFonts}nunito-black.woff2') format('woff2'), url('@{urlFonts}nunito-black.woff') format('woff'), url('@{urlFonts}nunito-black.ttf') format('truetype'), url('@{urlFonts}nunito-black.svg#Nunito') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 700;
	src: local('Nunito Bold'), local('Nunito-Bold'), url('@{urlFonts}nunito-bold.woff2') format('woff2'), url('@{urlFonts}nunito-bold.woff') format('woff'), url('@{urlFonts}nunito-bold.ttf') format('truetype'), url('@{urlFonts}nunito-bold.svg#Nunito') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	src: local('Nunito Light'), local('Nunito-Light'), url('@{urlFonts}nunito-light.woff2') format('woff2'), url('@{urlFonts}nunito-light.woff') format('woff'), url('@{urlFonts}nunito-light.ttf') format('truetype'), url('@{urlFonts}nunito-light.svg#Nunito') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	src: local('Nunito Regular'), local('Nunito-Regular'), url('@{urlFonts}nunito-regular.woff2') format('woff2'), url('@{urlFonts}nunito-regular.woff') format('woff'), url('@{urlFonts}nunito-regular.ttf') format('truetype'), url('@{urlFonts}nunito-regular.svg#Nunito') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/

@font-face {
  font-family: 'anticon';
  src: url('@{urlFonts}iconfont.eot');
  src: url('@{urlFonts}iconfont.woff') format('woff'), url('@{urlFonts}iconfont.ttf') format('truetype'), url('@{urlFonts}iconfont.svg#iconfont') format('svg');
}
//Font-Face: End

//Diseñado por: Lic. en Diseño Gráfico, José María 'Magnus' López Romera