//General: Start
html { font-size: 16px; }

body {
  font-family: 'Nunito', Arial, sans-serif;
}

//*, After & Before: Start
*, *::before, *::after { .boxSizing(); }
//*, After & Before: End

//Root: Start
#root { height: 100%; }
//Root: End

//Wrapper: Start
.wrapper { margin: auto; position: relative; }
//Wrapper: End

//Images Responsive: Start
.imgresponsive { height: auto; resize: both; width: 100%; }

.imgresponsiveheight { height: 100%; resize: both; width: auto; }
//Images Responsive: End
//General: End

//Diseñado por: Lic. en Diseño Gráfico, José María 'Magnus' López Romera
