//Mixins: Start
//Animation: Start
.animation(@name: width; @duration: 1s; @iteration: 1; @fMode: forwards; @pState: paused) { animation: @name @duration @iteration @fMode; animation-play-state: @pState; }

.animationAll(@name: width; @duration: 1s; @function: linear; @delay: 0s; @iteration: 1; @direction: normal; @fMode: forwards; @pState: paused) { animation: @name @duration @function @delay @iteration @direction @fMode; animation-play-state: @pState; }

.animationDelay(@delay: 0s) { animation-delay: @delay; }
//Animation: End

//Appearance: Start
.appearance(@appearance: none;) { -moz-appearance: @appearance; -webkit-appearance: @appearance; appearance: @appearance; }
//Appearance: End

//Apple: Start
.aApple(@appearance: none; @radius: 0) { -webkit-appearance: @appearance; -webkit-border-radius: @radius; }
//Apple: End

//BackFace: Start
.backfaceVisibility(@value: hidden) {
	-ms-backface-visibility: @value;
	-moz-backface-visibility: @value;
	-webkit-backface-visibility: @value;
	backface-visibility: @value;
}
//BackFace: End

//Backgrounds: Start
.bgRGBA(@r: 255; @g: 255; @b: 255; @alpha: .6) { background: rgba(@r, @g, @b, @alpha); }

.bRadial(@ejeY: 50%; @ejeX: 50%; @type: circle; @corner: closest-corner; @color1: @transparent; @size1: 0; @color2: @transparent; @size2: 1.125rem; @color3: @white; @size3: 1.125rem; @color4: @white; @size4: 1.125rem;) {
	background-image: -moz-radial-gradient(@ejeY @ejeX, @type @corner, @color1 @size1, @color2 @size2, @color3 @size3, @color4 @size4);
	background-image: -ms-radial-gradient(@ejeY @ejeX, @type @corner, @color1 @size1, @color2 @size2, @color3 @size3, @color4 @size4);
	background-image: -webkit-radial-gradient(@ejeY @ejeX, @type @corner, @color1 @size1, @color2 @size2, @color3 @size3, @color4 @size4);
	background-image: radial-gradient(@ejeY @ejeX, @type @corner, @color1 @size1, @color2 @size2, @color3 @size3, @color4 @size4);
}
//Backgrounds: End

//Box Lines: Start
.boxLines(@type: multiple) { -moz-box-lines: @type; -webkit-box-lines: @type; }
//Box Lines: End

//Box Orientation: Start
.boxOrientation(@type: vertical) { -moz-box-orient: @type; -webkit-box-orient: @type; }
//Box Orientation: End

//Box Shadow: Start
.bShadowRGBa(@ejeX: none; @ejeY: none; @blur: none; @r: 0; @g: 0; @b: 0; @alpha: .16) { box-shadow: @ejeX @ejeY @blur rgba(@r, @g, @b, @alpha); }

.bShadowDouble(@ejeX: 0; @ejeY: 0; @blur: .125rem;  @r: 0; @g: 0; @b: 0; @alpha: .12; @ejeX2: 0; @ejeY2: .125rem; @blur2: .25rem;  @r2: 0; @g2: 0; @b2: 0; @alpha2: .24) { box-shadow: @ejeX @ejeY @blur rgba(@r, @g, @b, @alpha), @ejeX2 @ejeY2 @blur2 rgba(@r2, @g2, @b2, @alpha2); }

.bShadowNone() { box-shadow: none; }
//Box Shadow: End

//Box Sizing: Start
.boxSizing(@type: border-box) { box-sizing: @type; }
//Box Sizing: End

//Center Modal: Start
.mcTransform(@horizontal: -50%; @vertical: -50%; @type: fixed; @vTop: 50%; @vLeft: 50%; @vBottom: auto; @vRight: auto) {
	position: @type;
		top: @vTop;
		left: @vLeft;
		bottom: @vBottom;
		right: @vRight;
	transform: translate(@horizontal, @vertical);
}
//Center Modal: End

//Ellipsis: Start
.ellipsis(@ov: hidden; @to: ellipsis; @ws: nowrap) { overflow: @ov; text-overflow: @to; white-space: @ws; }
//Ellipsis: End

//Flex: Start
.alignItems(@value: center) { -ms-flex-align: @value; -webkit-align-items: @value; align-items: @value; }

.boxAlign(@value: center) { -moz-box-align: @value; -webkit-box-align: @value; }

.boxPack(@value: center) { -moz-box-pack: @value; -ms-flex-pack: @value; -webkit-box-pack: @value; }

.flexDirection(@direction: column) { -ms-flex-direction: @direction; -webkit-flex-direction: @direction; flex-direction: @direction; }

.flexShrink(@value: 0) { -ms-flex: @value @value auto; -webkit-flex-shrink: @value; flex-shrink: @value; }

.flexWrap(@type: wrap) { -ms-flex-wrap: @type; -webkit-flex-wrap: @type; flex-wrap: @type; }

.justifyContent(@value: center) { -webkit-justify-content: @value; justify-content: @value; }
//Flex: End

//Font Rendering: Start
.fontRendering(@name: antialiased; @name2: grayscale) { -webkit-font-smoothing: @name; -moz-osx-font-smoothing: @name2; }
//Font Rendering: End

//Hardware Accelerated: Start
.hAccelerated(@ejeX: 0; @ejeY: 0; @ejeZ: 0) { -ms-transform: translate3d(@ejeX, @ejeY, @ejeZ); -webkit-transform: translate3d(@ejeX, @ejeY, @ejeZ); transform: translate3d(@ejeX, @ejeY, @ejeZ); }
//Hardware Accelerated: End

//Image Rendering: Start
.iRendering() { image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; }
//Image Rendering: End

//Perspective: Start
.perspective(@value: 1200px) {
	-moz-perspective: @value;
	-o-perspective: @value;
	-webkit-perspective: @value;
	perspective: @value;
}
//Perspective: End

//Touch: Start
.touchAction(@value: none) { -ms-touch-action: @value; touch-action: @value; }
//Touch: End

//Transform: Start
.transformOrigin(@value: left; @value2: top) {
	-moz-transform-origin: @value @value2;
	-ms-transform-origin: @value @value2;
	-o-transform-origin: @value @value2;
	-webkit-transform-origin: @value @value2;
	transform-origin: @value @value2;
}

.transformProperty(@value: opacity) {
	-moz-transition-property: @value;
	-o-transition-property: @value;
  -webkit-transition-property: @value;
	transition-property: @value;
}

.transformStyle(@type: preserve-3d) {
	-moz-transform-style: @type;
  -ms-transform-style: @type;
	-webkit-transform-style: @type;
	transform-style: @type;
}
//Transform: End

//Transition: Start
.transition(@name: color; @duration: 400ms; @function: ease) { transition: @name @duration @function; }

.transitionDouble(@name: max-width; @duration: 400ms; @function: ease; @name2: min-width; @duration2: 400ms; @function2: ease) { transition: @name @duration @function, @name2 @duration2 @function2; }

.transitionTriple(@name: border-width; @duration: 400ms; @function: ease; @name2: max-height; @duration2: 400ms; @function2: ease; @name3: padding; @duration3: 400ms; @function3: ease) { transition: @name @duration @function, @name2 @duration2 @function2, @name3 @duration3 @function3; }

.transitionFourfold(@name: max-height; @duration: 200ms; @function: linear; @name2: margin-left; @duration2: 200ms; @function2: linear; @name3: margin-right; @duration3: 200ms; @function3: linear; @name4: opactiy; @duration4: 200ms; @function4: linear) { transition: @name @duration @function, @name2 @duration2 @function2, @name3 @duration3 @function3, @name4 @duration4 @function4; }

.transitionFivefold(@name: background-color; @duration: 400ms; @function: ease; @name2: border-bottom-color; @duration2: 400ms; @function2: ease; @name3: border-top-color; @duration3: 400ms; @function3: ease; @name4: padding-bottom; @duration4: 400ms; @function4: ease; @name5: padding-top; @duration5: 400ms; @function5: ease) { transition: @name @duration @function, @name2 @duration2 @function2, @name3 @duration3 @function3, @name4 @duration4 @function4, @name5 @duration5 @function5; }

.transitionSixfold(@name: box-shadow; @duration: 200ms; @function: linear; @name2: max-height; @duration2: 200ms; @function2: linear; @name3: margin-bottom; @duration3: 200ms; @function3: linear; @name4: margin-left; @duration4: 200ms; @function4: linear; @name5: margin-right; @duration5: 200ms; @function5: linear; @name6: opactiy; @duration6: 200ms; @function6: linear) { transition: @name @duration @function, @name2 @duration2 @function2, @name3 @duration3 @function3, @name4 @duration4 @function4, @name5 @duration5 @function5, @name6 @duration6 @function6; }
//Transition: End

//User Select: Start
.userSelect(@value: none) {
	-moz-user-select: @value;
	-ms-user-select: @value;
	-webkit-user-select: @value;
	user-select: @value;
}
//User Select: End

//Vertical Align: Start
.vAlign(@vertical: -50%; @type: relative; @vTop: 50%) { position: @type; top: @vTop; transform: translateY(@vertical); }
//Vertical Align: End
//Mixins: End

//Diseñado por: Lic. en Diseño Gráfico, José María 'Magnus' López Romera