//Custom modal styles
.ant-modal .name {
  text-overflow: ellipsis;
  overflow: hidden;
}

button.ant-modal-close {
  top: -11px;
  right: -11px;
}

.ant-modal-close-x {
  width: 30px;
  height: 30px;
  line-height: 26px;
  background-color: #333;
  color: @white;
  border: 2px solid @white;
  border-radius: 50%;
  &:hover {
    background-color: @black;
  }
}
