/* ==========================================================================
   panel-content.less
   ========================================================================== */

.panel-content {
  &.ant-layout-content {
    padding: 0;
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  .panel-content__tabs {
    margin: 2rem 0;
  }
  h2 {
    color: #1790FF;
    margin: 0;
  }
  .loan-imprimir {
    text-transform: uppercase;
    margin: 0.5rem 0 0 15px;
    .anticon {
      font-size: 1.25rem;
      vertical-align: middle;
    }
  }
  .finish-message {
    h2 {
      margin-bottom: 0;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }
    .loan-imprimir {
      margin: 0;
    }
  }
  .ant-card.lead {
    width: 450px;
    margin: 0 20px 20px 0;
    &:last-child {
      margin: 0;
    }
  }
}
