.panel-sidebar {
  margin-top: 64px;
  position: fixed;
  height: 100%;
  z-index: 2;
  +.panel-content {
    margin-left: 200px;
    transition: margin-left 1s 1s 1s;
  }
  &.ant-layout-sider-collapsed {
    +.panel-content {
      margin-left: 80px;
      transition: margin-left 1s 1s 1s;
    }
  }
  .ant-layout-sider-children {
    margin-top: 13px;
  }
}