/* ==========================================================================
   personal-data.less
   ========================================================================== */

/* Personal Data small form */
.personal-data {
  select, .ant-input {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  margin-bottom: 12rem;
  .has-error {
    .ant-form-explain {
      margin-top: 5px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .ant-row.ant-form-item {
    margin-bottom: 1.5625rem;
  }
  .input-direccion {
    flex-basis: 155rem;
  }
  .not-required, .has-error .ant-input.not-required:focus, .has-error .ant-input.not-required:not([disabled]):hover {
    border-color: #d9d9d9;
    box-shadow: none;
  }
}

/* Personal Data large form */
.personal-data-all__container {
  background-color: #f7f7f7;
  padding: 1.5rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0.625rem;
  border-radius: 5px;
  .ant-form-item-control, .ant-form-item-label {
    line-height: 1.5625rem;
  }
  .ant-form-item {
    margin-bottom: 1.5625rem;
  }
}

.personal-data-all__title {
  padding-bottom: 1px;
  margin-bottom: 1.875rem;
  border-bottom: 2px solid #ebebeb;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

h2.product-detail-title {
  font-size: 1.3125rem;
  color: #3f3f3f;
  margin: 2.5rem 0 0;
}

.label-lineheight-readonly {
  line-height: 1.25rem;
}