//Query Builder: Start
//Inside: Start
.querybuilder fieldset {
    margin-bottom: 1.5rem;

    //Row: Start
    .ant-row { margin-bottom: 0; }
    //Row: End

    //Radio: Start
    .ant-radio-group {
        text-align: center;
        width: 100%;

        .ant-radio-button-wrapper { width: 50%; }

        span { width: 100%; }
    }
    //Radio: End

    //Picker: Start
    .ant-calendar-picker, .ant-input-number { width: 100%; }
    //Picker: End
}
//Inside: End

//Button: Start
.querybuilder .ant-btn { text-transform: uppercase; width: 100%; }
//Button: End

//Modal: Start
//Body: Start
.mquerybuilder .ant-modal-body {
    padding: 0;

    .search { display: block; padding: 1.5rem; text-align: center; }

    .name { display: flex; justify-content: space-between; }
}
//Body: End

//Icon: Start
.mquerybuilder .anticon {
    font-size: 1rem;

    &.anticon-cross-circle { color: @reject; }

    &.anticon-check-circle { color: @accept; }

    &.anticon-loading { color: @warning; }
}
//Icon: End

//Button: Primary: Start
.mquerybuilder .ant-card-body .ant-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
//Button: Primary: End
//Modal: End
//Query Builder: End

//Diseñado por: Lic. en Diseño Gráfico, José María 'Magnus' López Romera