﻿//Meyer's Reset: Start
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, t, article, aside, audio, bb, bdi, canvas, command, datagrid, datalist, details, dialog, embed, eventsource, figcaption, figure, footer, header, hgroup, keygen, main, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, track, video, wbr {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

:focus { outline: 0; }

body { background: @white; color: @black; line-height: 1; }

ol, ul, menu { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { font-weight: 400; text-align: left; }

blockquote::after, blockquote::before, q::after, q::before { content: @iEmpty; }

blockquote, q { quotes: '' ''; }

//Clearfix: Start
.clearfix { clear: both; }
//Clearfix: End
//Meyer's Reset: End
