.ant-select {
    width: 100%;
}

select {
  width: 100%;
  height: 34px;
  line-height: 34px;
  margin: 0;
  padding-left: 11px;
  background-color: #fff;
  color: #c1c1c1;
  border-color: #e9e9e9;
}

select option {
  color: rgba(0, 0, 0, 0.65);
}

.pristine {
  color: #bfbfbf;
}
