//Table: Start
.table {
	border-radius: .25rem;
	border-collapse: separate;
	border-spacing: 0;
	font-size: .875rem;
	max-height: 80vh;
	overflow-y: auto;
	position: relative;
	text-align: left;
	width: auto;
	margin: 1rem 2rem 2rem;

	//Row: Start
	.row {
		display: flex;
		flex-direction: row;

		.th, .td {
			border-bottom: solid 1px @brTableHead;
			color: @tpText;
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: left;
			padding: 0.2rem 0.5rem;
		}

		&.new { background-color: @bgNew; }

		.th {
			align-items: center;
			background-color: @bgTableHead;
			cursor: pointer;
			flex-flow: row wrap;
			font-weight: 500;
			word-break: break-all;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;

			&.number { justify-content: flex-end; text-align: right; }

			//Icon: Start
			.anticon { margin-left: .5rem; }
			//Icon: End
		}

		.tsearch {
			background-color: @white;
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;

			.ant-input { border: none; }
		}

		.td {
			font-weight: 400;
			min-width: 0;

			&.number { justify-content: flex-end; text-align: right; }

			span { .ellipsis(); display: block; }
		}
	}
	//Row: End

	//Icon: Start
	.anticon { color: @focus; font-size: 1rem; }
	//Icon: End

	//Head: Start
	.thead {
		.bShadowDouble();
		position: sticky;
			top: 0;
		width: 100%;
		z-index: 2;
	}
	//Head: End

	//Body: Start
	.tbody {
		min-height: 70vh;

		//Loading: Start
		&.loading {
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: center;
		}
		//Loading: End

		//Hover: Start
		.row:hover { background-color: @tableHover }
		//Hover: End
	}
	//Body: End

	//Foot: Start
	.tfoot {
		background-color: @white;
		position: sticky;
			bottom: 0;
		width: 100%;

		em {
			display: inline-block;
			font-style: normal;
			line-height: 2rem;
			margin-right: 1rem;
		}

		.td {
			color: @tpText;
			cursor: pointer;
			display: block;
			font-weight: 500;
			padding: 0.2rem 0.5rem;

			&.number { text-align: right; }

			//Button: Start
			.ant-btn-secondary { width: 2rem; }
			//Button: End
		}
	}
	//Foot: End

	//Link: Start
	.link, .card-link {
		color: @focus;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	//Link: End

	th {
		font-weight: 700;
		color: @black;
	}

	td, th {
			padding: .75rem;
	    vertical-align: top;
	    border-top: 1px solid #dee2e6;
		}

	&.table-striped {
		tbody tr:nth-of-type(odd) {
		  background-color: rgba(0,0,0,.05);
		}
	}
}
//Table: End

//Responsive tables wrapper class (add it on a wrapper div)
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table td, .table th {
	padding: .5rem;
}

.ant-table-tbody>tr>td, .ant-table-thead>tr>th {
	padding: .5rem 1rem;
}
