//Variables: Start
//Backgrounds: Start
@bgLogin: #00142a; //SI Eq. Material
@bgLoginForm: #eee; //SI
@bgNew: #e8f0f7; //SI
@bgTableHead: #fafafa; //SI
//Backgrounds: End

//Border: Start
@brCard: #c6c6c6; //SI
@brTableHead: #e8e8e8; //SI
@brTitleAnt: #d9d9d9; //SI
//Border: End

//Color: Start
@accept: #86b75d; //SI Eq. Material
@black: #000; //SI MATERIAL
@focus: #0d47a1; //SI MATERIAL
@inactive: rgba(0, 0, 0, 0.38); //SI MATERIAL
@reject: #c62828; //SI MATERIAL
@tableHover: #e6f7ff; //SI
@warning: #ffcb6d; //SI MATERIAL
@transparent: transparent; //SI MATERIAL
@white: #fff; //SI MATERIAL
//Color: End

//Hacks: Start
@chromeSafari: ~'screen and (-webkit-min-device-pixel-ratio: 0)';
@firefox: ~'@-moz-document url-prefix()';
@ie8: ~'\0screen';
@opera: ~'all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0)';
//Hacks: End

//Icons: Start
@iEmpty: '';
//Icons: End

//Responsive: Start
@ma767: ~'(max-width: 767px)';
@ma768: ~'screen and (max-width: 768px)';
@ma900: ~'(max-width: 900px)';
@ma1279: ~'(max-width: 1279px)';
@mi360: ~'(min-width: 360px)';
@mi480: ~'(min-width: 480px)';
@mi640: ~'(min-width: 640px)';
@mi768: ~'(min-width: 768px)';
@mi800: ~'(min-width: 800px)';
@mi980: ~'(min-width: 980px)';
@mi992: ~'(min-width: 992px)';
@mi1024: ~'(min-width: 1024px)';
@mi1200: ~'(min-width: 1200px)';
@mi1279: ~'(min-width: 1279px)';
@mi1280: ~'(min-width: 1280px)';
@mi1366: ~'(min-width: 1366px)';
@mi1480: ~'(min-width: 1480px)';
@mi1600: ~'(min-width: 1600px)';
@mi1680: ~'(min-width: 1680px)';
@mi1920: ~'(min-width: 1920px)';
@mi767: ~'(max-width: 767px)';
@mi768ma991: ~'(min-width: 768px) and (max-width: 991px)';
@mi992ma1199: ~'(min-width: 992px) and (max-width: 1199px)';
@ratio125: ~'(-webkit-min-device-pixel-ratio: 1.25) and (min-resolution: 120dpi) and (min-resolution: 1.25dppx)';
@ratio130: ~'(-webkit-min-device-pixel-ratio: 1.3) and (min-resolution: 124.8dpi) and (min-resolution: 1.3dppx)';
@ratio150: ~'(-webkit-min-device-pixel-ratio: 1.5) and (min-resolution: 144dpi) and (min-resolution: 1.5dppx)';
@ratio170: ~'(-webkit-min-device-pixel-ratio: 1.7) and (min-resolution: 144dpi) and (min-resolution: 1.7dppx)';
@ratio200: ~'(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx)';
@ratio300: ~'(-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi) and (min-resolution: 3dppx)';

//iPad 3: Start
@iP3Landscape: ~'only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)';
@iP3Portrait: ~'only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)';
//iPad 3: End

//iPhone 4: Start
@iPh4Landscape: ~'only screen and (min-device-width: 480px) and (max-device-height: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)';
@iPh4Portrait: ~'only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)';
//iPhone 4: End

//iPhone 5: Start
@iPh5Landscape: ~'only screen and (min-device-width: 568px) and (max-device-height: 320px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)';
@iPh5Portrait: ~'only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)';
//iPhone 5: End

//iPhone 6: Start
@iPh6Landscape: ~'only screen and (min-device-width: 667px) and (max-device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)';
@iPh6Portrait: ~'only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)';
//iPhone 6: End

//iPhone 6+: Start
@iPh6PLandscape: ~'only screen and (min-device-width: 736px) and (max-device-height: 414px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)';
@iPh6PPortrait: ~'only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)';
//iPhone 6+: End

//iPad Mini & Air: Start
@iPadMiniLandscape: ~'only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)';
@iPadMiniPortrait: ~'only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)';
//iPad Mini & Air: End

//iPad Pro: Start
@iPadProLandscape: ~'only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)';
@iPadProPortrait: ~'only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)';
//iPad Pro: End

//Samsung Galaxy S2: Start
@sGs2Landscape: ~'only screen and (min-device-width: 533px) and (max-device-height: 320px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1.5)';
@sGs2Portrait: ~'only screen and (min-device-width: 320px) and (max-device-height: 533px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1.5)';
//Samsung Galaxy S2: End

//Samsung Galaxy S3: Start
@sGs3Landscape: ~'only screen and (min-device-width: 640px) and (max-device-height: 360px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)';
@sGs3Portrait: ~'only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)';
//Samsung Galaxy S3: End

//Samsung Galaxy S4: Start
@sGs4Lanscape: ~'only screen and (min-device-width: 640px) and (max-device-height: 360px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)';
@sGs4Portrait: ~'only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)';
//Samsung Galaxy S4: End

//Samsung Galaxy S5: Start
@sGs5Landscape: ~'only screen and (min-device-width: 640px) and (max-device-height: 360px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)';
@sGs5Portrait: ~'only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)';
//Samsung Galaxy S5: End
//Responsive: End

//Typography: Start
@tpIcon: rgba(0, 0, 0, .25); //SI
@tpText: rgba(0, 0, 0, .87); //SI MATERIAL
@tpTitle: rgba(0, 0, 0, .54); //SI MATERIAL
@tpAntTitle: rgba(0, 0, 0, .45); //SI
//Typography: End

//Url's: Start
@imgJpg: '@{switch}images/jpg/';
@imgPng: '@{switch}images/png/';
@imgJpg: '@{switch}images/jpg/';
@svg: '@{switch}svg/';
@urlFonts: '@{switch}assets/fonts/';

@maq: '../';
@dev: '../../';

@switch: @maq;
//Url's: End
//Variables: End

//Diseñado por: Lic. en Diseño Gráfico, José María 'Magnus' López Romera